<div class="hero is-fullheight">
  <div class="hero-head">
    <div class="container">
      <div class="column is-8 is-offset-2">
        <div class="space-between align-center">
          <div class="head-left">
            <img src="/assets/images/bore-logo.svg" class="logo" />
          </div>
          <div class="head-right">
            <a href="https://github.com/jkuri/bore">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2">
          <h1>Expose yourself to the world!</h1>
          <p>
            Rolling behind NAT and quickly want to show your work to a collegue, download <code>bore</code>
            client and make secure tunnel over SSH protocol.
          </p>
          <a class="download-button" href="https://github.com/jkuri/bore/releases" target="_blank">
            <span>Download</span>
          </a>
        </div>
        <div class="column is-6 is-offset-3">
          <div class="terminal">
            <div class="terminal-header">
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
            </div>
            <div class="terminal-body">
              <span>$ {{ displayCommand }}</span>
              <pre>{{ displayResult }}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
