<div class="hero is-fullheight">
  <div class="hero-head">
    <div class="container">
      <div class="column is-8 is-offset-2">
        <div class="space-between align-center">
          <div class="head-left">
            <span>bore</span>
          </div>
          <div class="head-right">
            <a href="https://github.com/jkuri/bore">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <h1>Expose yourself to the world!</h1>
          <div class="terminal">
            <div class="terminal-header">
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
            </div>
            <div class="terminal-body">
              <span>$ {{ displayCommand }}</span>
              <span>{{ displayResult }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
